/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* GENERAL */
:root{
    --color-red: #b91450;
}
body{
    background-color: var(--color-red);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
h1{
    text-align: center;
    color: white;
    margin-top: 1rem;
}
/* MAIN */
main{
    width: 80vw;
    margin: 0 auto;
}

/* parte superiore */
.box-top{
    background-color: white;
    box-shadow: 1px 3px 13px 2px rgba(0,0,0,0.5);
    padding: 1rem;
    margin-top: 1rem;
    text-align: center;
    color: var(--color-red);
    border-radius: 0.5rem;
}

form > div:not(:last-child){
    display:inline-block;
    margin: 0 4rem;
}
form input, select{
    border: 1px solid var(--color-red);
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-top: 1rem;
}
form input:focus, select:focus{
    background-color: red;
    color: white;
}
.btn{
    margin-top: 2rem;
}
.btn > button{
    padding: 0.2rem;
    color: var(--color-red);
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid gray;
    background-color: lightgray;
}
.btn > button:focus{
    box-shadow: inset 0px 0px 0px 3px #ec9344;
}

/* parte inferiore */
#box-bottom{
    background-color: white;
    padding: 1rem;
    display: none;
}
.text{
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.username{
    background-color: gray;
    padding: 1rem;
}
.info > div{
    display: inline-block;
    margin-right: 2rem;
    padding: 1rem;
}
.info p{
    margin-top: 3rem;
}
